{% extends 'base.html' %}
{% block title %}Add indivisual{% endblock title %}
{% block style %}
{% endblock style %}
{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <form action='add' method='POST'>
  {% csrf_token %}
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><input type="text" name='username1' placeholder="Username"></td>
      <td><input type="text" name='amount1' placeholder="Amount"></td>
      <td><input type="text" name='description1' placeholder="Description"></td>
    </tr>
  </tbody>

</table>
<center><input type='submit' class='btn btn-primary'></center>
</form>
{% endblock body %}